# Core App & Visualization
streamlit
pandas
numpy
scipy
matplotlib
plotly
seaborn

# Data Sources
yfinance
requests
fredapi
pandas_datareader
wbdata
alpha_vantage
python-dotenv

# Forecasting & ML
statsmodels
prophet
scikit-learn
xgboost
tensorflow
keras
hmmlearn
arch

# Web scraping & HTML parsing
lxml
html5lib

# Browser automation (if needed for scraping)
webdriver-manager
